#portfolioButtonText {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
}

#technologyIconImage {
  padding-bottom: 20px;
  height: 80%;
  width: 80%;
}

#toolsIconImage {
  padding-bottom: 20px;
  height: 80%;
  width: 80%;
}

#techniquesIconImage {
  padding-bottom: 20px;
  height: 80%;
  width: 80%;
}

#portfolioButton {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
}

.btn {
  background-color: #687758;
}

.btn:hover {
  background-color: #303728; /* Green */
  color: white;
}

#universeumIconImage {
  margin-top: 25px;
}

#chalmersIconImage {
  margin-top: 25px;
}

.my-2 {
  border-color: white;
}

#companyImages{
  margin-top: 180px;
  margin-bottom: 180px;
}

#topJumboContainer {
  margin-top: 80px;
  margin-bottom: 80px;
}

#bottomJumboContainer {
  margin-top: 100px;
  margin-bottom: 100px;
}

#codeJumboContainer {
  margin-top: 120px;
  margin-bottom: 120px;
}


.footerContainer {
  position: absolute;
  left: 0;
  width: 100%;
  height: 60px;
  padding-top: 12vh;
}

#Skillsets {
  margin-top: 100px;
  margin-bottom: 100px;
}

#SkillsetsText {
  margin-bottom: 30px;
}

#topJumbo {
  background-image: url(../images/Top2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

#bottomJumbo {
  background-image: url(../images/Bottom2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

#codeJumbo {
  background-image: url(../images/DevCoop.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: black;
}

#topjumboBigH {
  font-size: 80px !important;
  margin-right: 10vmin;
  font-weight: 500;
}
#topJumboH1 {
   font-size: 50px !important;
   margin-right: 10vmin;
   font-weight: 500;
   }
#topJumboP1 {
   font-size: 36px !important;
   }
#topJumboH2 {
  font-size: 50px !important;
  font-weight: 500;
  }
#topJumboP2 {
  font-size: 36px !important;
  }

#codeJumboH1 {
  display: block;
  font-weight: 500;
  font-size: 50px;
  color: black;
   }
#codeJumboP1 {
   font-size: 36px !important;
   }


@media (max-width: 767px) {
  #designToolsText {
    padding-right:50px;
  }

  #technologyIconImage {
    padding-bottom: 20px;
    height: 80px !important;
    width: 80px !important;
  }

  #toolsIconImage {
    padding-bottom: 20px;
    height: 85px !important;
    width: 75px !important;
  }

  #techniquesIconImage {
    padding-bottom: 20px;
    height: 85px !important;
    width: 75px !important;
  }

   #topjumboBigH{
     font-size: 30px !important;
     margin-left: 0px;
   }

   #huaweiIconImage {
     height: 100% !important;
     width: 100% !important;
     padding-left: 20px;
     padding-bottom: 50px;
   }

   #universeumIconImage {
     height: 85% !important;
     width: 100% !important;
     padding-bottom: 50px;
   }

   #chalmersIconImage {
     height: 85% !important;
     width: 100% !important;
     padding-bottom: 50px;
   }

   #topJumboH1 {
      font-size: 20px !important;
      margin-bottom: -20px;
      margin-left: 0px;
      }

   #topJumboP1 {
      font-size: 16px !important;
      padding-top:15px;
      margin-bottom: -12px;
      margin-left: 0px;
      }
  #codeJumbo {
    margin-top: -50px;
  }

  #codeJumboH1 {
     font-size: 20px !important;
     margin-top: -110px;
     margin-left: 0px;
     }
  #codeJumboP1 {
     font-size: 12px !important;
     margin-top: 8px;
     margin-left: 0px;
     }
  #topJumboH2 {
    font-size: 20px !important;
    margin-left: 0px;
    }
   #topJumboP2 {
      font-size: 16px !important;
      margin-bottom: -12px;
      margin-left: 0px;
      }
   .footerContainer {
      font-size: 12px;
    }
  #portfolioText {
    font-size: 16px;
  }
}

@media (max-width: 992px) {

  #technologyIconImage {
    padding-bottom: 20px;
    padding-right: 20px;
    height: 90px;
    width: 80px;
  }

  #toolsIconImage {
    padding-bottom: 20px;
    height: 90px;
    width: 80px;
  }

  #techniquesIconImage {
    padding-bottom: 20px;
    height: 90px;
    width: 80px;
  }

   #topjumboBigH{
     font-size: 30px !important;
     margin-left: 0px;
   }

   #codeJumboH1 {
      font-size: 30px ;
      margin-top: -110px;
      margin-left: 0px;
      }

   #huaweiIconImage {
     height: 90%;
     width: 100%;
     padding-bottom: 50px;
   }

   #universeumIconImage {
     height: 70%;
     width: 100%;
     padding-bottom: 50px;
   }

   #chalmersIconImage {
     height: 55%;
     width: 100%;
     padding-bottom: 50px;
   }
}
